{% load static %}
<!DOCTYPE html>
<html lang="id">
  <head>
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}GymBuddy{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    {% block styles %}
    {% endblock styles %}
  </head>
  <body class="bg-white text-gray-800"> 
    
    {% include 'navbar.html' %}     <main class="container mx-auto p-4"> 
      {% block content %} 
        {% endblock content %}
    </main>

    {% include 'toast.html' %} {% include 'modal.html' %} 

    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>