<div class="card" id="thread-{{ thread.id }}">
    <div class="post-header"><h3><a href="{% url 'community:thread_detail' thread.id %}">{{ thread.title }}</a></h3></div>
    <div class="post-body"><p>{{ thread.content|truncatewords:40 }}</p></div>
    <div class="post-meta">
        <span>Reply: {{ thread.reply_count }} | Likes: <span class="like-count">{{ thread.total_likes }}</span> | Oleh <a href="{% url 'community:profile' thread.author.username %}">{{ thread.author.username }}</a></span>
        {% if user == thread.author %}
            <span class="meta-actions">
                <a class="edit-thread-btn" data-thread-id="{{ thread.id }}" data-title="{{ thread.title }}" data-content="{{ thread.content }}">Edit</a>
                <a class="delete-link delete-thread-btn" data-thread-id="{{ thread.id }}">Hapus</a>
            </span>
        {% endif %}
    </div>
    {% if thread.top_reply_content %}
    <div class="top-reply-preview">
        <p style="margin-bottom: 5px;"><a href="{% url 'community:profile' thread.top_reply_author %}"><strong>{{ thread.top_reply_author }}</strong></a> membalas:</p>
        <p>"{{ thread.top_reply_content|truncatewords:20 }}"</p>
    </div>
    {% endif %}
</div>